{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container-img">
    <img class="logo_img" src="{% static 'img/imest_logo.png' %}" alt="Logo">
</div>
<div class="container" id="test-room">
    <input type="text" id="test-id" placeholder="Введите ID теста">
    <button onclick="enterTest()">Начать тест</button>
</div>
<div class="container" id="test-container" style="display:none;">
    <div id="questions-container">
        {% for question in question_image %}
        <div class="question">
            {% if question.image and question.image.url.strip %}
            <img src="{{ question.image.url }}" class="question-image" onerror="this.style.display='none';">
            {% elif question.text %}
            <p>{{ question.text }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="pagination" id="pagination"></div>
    <button id="submit-button" onclick="submitTest()" style="display:none;">Завершить тест</button>
    <p id="timer"></p>
    <p id="completion-message" style="display:none;">Тест завершен! Спасибо за участие.</p>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            // Отключаем выделение текста на всей странице
            document.body.style.userSelect = 'none';

            // Отключаем выделение текста и контекстное меню для всех элементов
            document.addEventListener('selectstart', event => event.preventDefault());
            document.addEventListener('copy', event => event.preventDefault());
            document.addEventListener('cut', event => event.preventDefault());

            // Отключаем возможность перетаскивания любых изображений
            document.querySelectorAll('img, button, input, label, a, div, span').forEach(element => {
                element.draggable = false;
            });

            // Отключаем контекстное меню (правый клик)
            document.addEventListener('contextmenu', event => event.preventDefault());

            // Отключаем касания на мобильных устройствах (выделение)
            document.addEventListener('touchstart', event => {
                if (event.target.nodeName !== 'INPUT' && event.target.nodeName !== 'TEXTAREA') {
                    event.preventDefault();
                }
            }, { passive: false });
        });
</script>
{% endblock %}